/* Sidebar overall styling */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns children at the top */
  align-items: center; /* Centers items horizontally */
  font-size: 1.2rem;
  background-color: #d40a11; /* Red background */
  width: 250px; /* Fixed width */
  min-height: 100vh; /* Full viewport height */
  height: 100%;
  padding: 20px 0; /* Padding on top and bottom */
  box-sizing: border-box; /* Includes padding and border in the width and height */
}

/* Adjust if the logo is included and should be at the top */
.logo-container {
  width: 100%;
  padding: 10px 0;
  background-color: #e9242b;
}

.logo-container img {
  width: 80px;
  height: auto;
  margin: auto; /* Centers the logo */
}

/* Navigation links styling */
.options {
  width: 100%; /* Full width of the sidebar */
  list-style-type: none; /* No bullets */
  padding: 0; /* No padding */
  margin: 0; /* No margin */
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center; /* Centering text and icons horizontally */
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 10px 0; /* Padding for better touch */
}

.nav-link:hover {
  background-color: #e9242b;
  color: white;
}

/* Profile section adjustment */
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  padding: 20px 0; /* Add padding for better spacing */
}

.profile img {
  margin-right: 10px; /* Space between image and text */
}

.profile-name {
  color: white;
}

.icon-spacing {
  margin-right: 8px; /* Space between icon and label */
}
